*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #1c2439;
  overflow: hidden;
}

.scene > i {
  position: absolute;
  background: white;
  border-radius: 50%;
  filter: blur(1px) contrast(200);
}

.change-width {
  animation: change-width 1s;
}

#width {
  transition: 2s;
  width: 1px;
}
@keyframes change-width {
  0% {
    transform-origin: top left;
    transform: rotate(230deg) translate(0, 0);
  }

  50% {
    width: 10px;
  }
  100% {
    transform-origin: top left;
    transform: rotate(220deg) translate(-50px, -50px);
  }
}

/* @keyframes change-location {
  0% {
    transform: ;
  }
  100% {
    transform: ;
  }
} */
