@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "MaruBuri-Regular";
  color: aliceblue;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1c2439;
}

.scene > i {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  border-radius: 50%;
  filter: blur(1px) contrast(200);
}

.change-location {
  animation: change-location;
}

.exo { 
  flex: 1;
}
.earth-container {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.earth {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.85);
  background-size: cover;
  background-color: darkblue;
  background-image: url(./img/세계지도.png);
}

button {
  padding: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.85);
  cursor: pointer;
}

.hide {
  display: none;
}

.author-btn {
  top: 100px;
  left: 100px;
  transform: translate(-50%,-50%);
}

/*책 내용 - 지구*/
.chapters {
  display: flex;
  align-items: center;
}
.container {
  width: 15%;
  margin-left: 10%;
  position: absolute;
  text-align: center;
  color: aliceblue;
}

.lost-btn {
  top: 30px;
  left: 80px;
}

.hero-btn {
  top: 100px;
  left: 80px;
}
.emotion-btn {
  top: 140px;
  left: 5px;
}
.symbiosis-btn {
  top: 50px;
  right: 90px;
}

.rotation {
  animation: earth-rotation 15s linear infinite;
}

.author-container {
  display: none;
  z-index: 1;
  position: relative;
  bottom: 15%;
  width: 20%;
  color: aliceblue;
}

.show {
  display: flex;
  justify-content: center;
}
.author-container>span {
  position: fixed;
}
.bottom {
  filter: blur(3px);
}

.lily {
  flex: 1;
}
@keyframes change-location {
  0% {
    width: 200px;
    transform-origin: bottom left;
    transform: rotate(300deg) translateY(0);
  }

  90% {
    transform-origin: bottom left;
    transform: rotate(300deg) translateY(10%);
  }

  100% {
    opacity: 0;
  }
}
 
@keyframes earth-rotation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 195%;
  }
}
