*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #1c2439;
  overflow: hidden;
}

.scene > i {
  position: absolute;
  background: white;
  border-radius: 50%;
  filter: blur(1px) contrast(200);
}

.change-width {
  animation: change-width 1s;
}

.width {
  width: 0px;
}
@keyframes change-width {
  0% {
    transform: rotate(300deg) translate(50%, 50%);
  }

  100% {
    transform: rotate(300deg) translate(50%, 50%);
    width: 0px;
  }
}
